.wrapper {
    display: flex;
}

.content {
    width: calc(100% - 17rem);
    padding: 0.5rem;
}

.blured {
    opacity: 0.3;
}

@media only screen and (max-width: 968px) {
    .content {
        width: calc(100% - 13rem);
    }
}

@media only screen and (max-width: 768px) {
    .content {
        width: 100%;
    }
}